<%= render partial: 'articles/first_image_attachment', locals: {image_attachment: article.first_image_attachment } if article.first_image_attachment %>
<% if controller.controller_name == 'archives' || controller.action_name == 'index' %>
  <div class="article_content">
  <%= sanitize_truncate markdown(article.content) %>
  </div>
<% else %>
  <div id="article_content" data-mercury="full">
  <%= sanitize_full markdown(article.content) %>
  </div>
<% end %>