<div class='row'>
<div class="small-11 small-centered columns">
<article>
  <%= render partial: '/articles/article_header', locals: { article: article } %>
  <%= render partial: '/articles/article_content', locals: { article: article } %>
  <%= render partial: '/articles/article_footer', locals: { article: article } %>
</article>
</div>
</div>