<div class="author">
<%= article.division_id.nil? ? (link_to article.user.profile.full_name, user_profile_path(article.user)) : (article) %>
</div>
<%= render partial: 'articles/image_attachments', locals: { article: article } if @image_attachments.count > 0 %>
<%= render partial: 'articles/not_image_attachments', locals: { article: article } if @not_image_attachments.count > 0 %>