<%= article.first_image_attachment ? (render partial: 'articles/first_image_attachment', locals: {article: article, image_attachment: article.first_image_attachment, dimension: dimension }) : (image_tag('default.jpg', class: 'th left', size: '75x75') if controller_name == 'articles' && action_name == 'index' && article.article_type.name == 'news')  %>
<% if composition[:truncate] %>
  <div class="text-justify clearfix">
  <p>
  <%= article.content.length > 800 ? sanitize_truncate(markdown(autosub_details article.content)) : sanitize_full(markdown(autosub_details article.content)) %>
  </div>
<% else %>
  <div class="text-justify clearfix">
  <%= sanitize_full markdown(autosub_details article.content) %>
  </div>
<% end %>
