<div class="row">
  <div class="small-8 large-8 columns">
    <section id="news">
      <h1>Новости</h1>
      <%= render partial: 'island', collection: @last_news %>
    </section>
    <section id="articles">
      <h1>Статьи</h1>
      <%= render partial: 'island', collection: @articles %>
    </section>
  </div>
  <div class="small-4 large-4 columns">
    <section id="recomendations">
      <h1>Рекомендации</h1>
      
    </section>
    <section id="anounces">
      <h1>Анонсы</h1>
      <%= render partial: 'island', collection: @announcements %>
    </section>
  </div>
</div>
<%= link_to 'New Article', new_article_path %>
