<h1>Список пользователей</h1>
<dl class="panel">
  <% @users.each do |user| %>
    <dt>
    <%= user.login %>
    </dt>
    <dd>
    <%= user.profile.last_name.empty? ? (link_to 'Профиль не заполнен', edit_user_profile_path(user)) : (link_to user.profile.full_name, user_profile_path(user)) %>
    </dd>
  <% end %>
<dl>
<%= will_paginate @users %>