#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #b8312f;
}
#ext_menu-0 .mbr-navbar__section {
  background: #b8312f;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 13px;
}
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #b8312f;
}
#ext_menu-3 .mbr-navbar__section {
  background: #b8312f;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-3 .mbr-brand__name a {
  font-size: 13px;
}
#ext_menu-5 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #b8312f;
}
#ext_menu-5 .mbr-navbar__section {
  background: #b8312f;
}
#ext_menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-5 .mbr-brand__name a {
  font-size: 13px;
}
#header3-6 H3 {
  color: #b8312f;
  font-size: 18px;
}
