<section class="panel">
<h1>Перечень подразделений</h1>
<%= link_to 'Новое подразделение', new_division_path %>

<% @divisions.each do |type, divisions| %>
  <h2><%= type %></h2>
  <ul>
    <% divisions.each do |division| %>
      <li><%= link_to division.name, division, class: (division.posts.count > 0 ? "label" : "label secondary") %></td>
    <% end %>
  </ul>
<% end %>
</section>