<section class="panel">
<h1>Редактировать вложение</h1>
<p class="subheader">Логика замены вложений: если выбрать новое из списка - старое вложение будет заменено новым, если оно содержится в других местах сайта - оно останется там, в противном случае - будет уничтожено; если выбрать загрузку нового файла - то произойдет обновление исходного файла во всех местах сайта, где он находится</p> 
<%= render partial: 'form' %>
</section>