<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @article.user.profile.full_name if @article.user %> написал(а) новую статью на сайт.
    <h1><%= link_to autosub_details_in_title(@article.title), article_url(@article) %></h1>
    <%= @article.content.length > 800 ? sanitize_truncate(autosub_details @article.content) : sanitize_full(autosub_details @article.content) %>
  </body>
</html>