<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @article.user.profile.full_name if @article.user %> написал(а) новую статью на сайт.
    <h1><%= link_to @article.title, article_url(@article) %></h1>
  </body>
</html>