<section class=panel>
  <h1>Образовательные программы</h1>
  <div>
    <%= link_to "Добавить", new_educational_program_path, class: 'button' %>
  </div>
  <ul>
    <% @educational_programs.each do |ep| %>
      <div class="right">
        <% if @moderator_permission %>
          <%= link_to edit_educational_program_path(ep), title: 'Редактировать' do %>
            <i class="fi-page-edit"></i>
          <% end %>
          <%= link_to ep, title: 'Удалить', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fi-x"></i>
          <% end %>
        <% end %>
      </div>
        <li><%= link_to ep.name, ep %></li>
    <% end %>
  </ul>
</section>