p= message
.filefild
  = file_field_tag 'files[]', ref: ref_name, name: id, id: id, multiple: true, 'v-on:change': 'handleFiles', data: {document_type: document_type}, 'v-bind:data-document-id':  document_id, 'v-bind:data-entrant-application-id': entrant_application_id
