<%= form_for(@feedback) do |f| %>
  <div class="field">
    <%= f.text_area :question %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit 'Задать вопрос', class: "button small" %>
  </div>
<% end %>
