<section class="panel">
<%= link_to 'Задать вопрос', new_feedback_path, class: "small button" if user_signed_in? %>
<dl>
<%= render partial: 'feedback', collection: @unpublished_feedbacks %>
</dl>
<dl>
<%= render partial: 'feedback', collection: @published_feedbacks %>
</dl>
</section>