<section class=panel>
  <h1>Свидетельства об аккредитации</h1>
  <div>
    <%= link_to "Добавить", new_accreditation_path, class: 'button' %>
  </div>
  <ul>
    <% @accreditations.each do |accreditation| %>
      <div class="right">
        <% if @moderator_permission %>
          <%= link_to edit_accreditation_path(accreditation), title: 'Редактировать' do %>
            <i class="fi-page-edit"></i>
          <% end %>
          <%= link_to accreditation, title: 'Удалить', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fi-x"></i>
          <% end %>
        <% end %>
      </div>
        <li><%= link_to "Номер #{accreditation.number}, выдано #{accreditation.date_of_issue}, действительно до #{accreditation.expiration_date}", accreditation %></li>
    <% end %>
  </ul>
</section>