<section class=panel>
  <div>
    <%= link_to 'К списку свидетельств', accreditations_path %>
  </div>
  <div class="right">
    <% if @moderator_permission %>
      <%= link_to edit_accreditation_path(@accreditation), title: 'Редактировать' do %>
        <i class="fi-page-edit"></i>
      <% end %>
      <%= link_to @accreditation, title: 'Удалить', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fi-x"></i>
      <% end %>
    <% end %>
  </div>
  <h1>Свидетльство об аккредитации
  <p><%= "Номер #{@accreditation.number}, выдано #{@accreditation.date_of_issue}, действительно до #{@accreditation.expiration_date}" %></p>
</section>