<section class=panel>
  <h1>Учебные планы</h1>
  <div>
    <%= link_to "Добавить", new_academic_plan_path, class: 'button' %>
  </div>
  <ul>
    <% @academic_plans.each do |academic_plan| %>
      <div class="right">
        <% if @moderator_permission %>
          <%= link_to edit_academic_plan_path(academic_plan), title: 'Редактировать' do %>
            <i class="fi-page-edit"></i>
          <% end %>
          <%= link_to academic_plan, title: 'Удалить', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fi-x"></i>
          <% end %>
        <% end %>
      </div>
        <li><%= link_to academic_plan.educational_program.educational_standart ? "#{academic_plan.name} - #{academic_plan.educational_program.name} (#{academic_plan.educational_program.educational_standart.level})" : "#{academic_plan.name} - #{academic_plan.educational_program.name}", academic_plan %></li>
    <% end %>
  </ul>
</section>