section.panel
  h1 Учебные планы
  .
    = link_to "Добавить", new_academic_plan_path, class: 'button'
  ul
    - @academic_plans.each do |academic_plan|
      .right
        - if @moderator_permission
          = link_to edit_academic_plan_path(academic_plan), title: 'Редактировать' do
            i.fi-page-edit
          = link_to academic_plan, title: 'Удалить', method: :delete, data: { confirm: 'Are you sure?' } do
            i.fi-x
      - if academic_plan.educational_program.educational_standart
        li= link_to "#{academic_plan.name} - #{academic_plan.educational_program.full_name} (#{academic_plan.educational_program.educational_standart.level})", academic_plan
      - else 
        li= link_to "#{academic_plan.name} - #{academic_plan.educational_program.full_name}", academic_plan