<section class=panel>
  <h1>Учебные графики</h1>
  <div>
    <%= link_to "Добавить", new_academic_schedule_path, class: 'button' %>
  </div>
  <ul>
    <% @academic_schedules.each do |academic_schedule| %>
      <div class="right">
        <% if @moderator_permission %>
          <%= link_to edit_academic_schedule_path(academic_schedule), title: 'Редактировать' do %>
            <i class="fi-page-edit"></i>
          <% end %>
          <%= link_to academic_schedule, title: 'Удалить', method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fi-x"></i>
          <% end %>
        <% end %>
      </div>
        <li><%= link_to "#{academic_schedule.name} - #{academic_schedule.educational_program.name} (#{academic_schedule.educational_program.educational_standart.level})", academic_schedule %></li>
    <% end %>
  </ul>
</section>