body {
  background-image: url("/assets/isma.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
article {
  font-size : 0.9em;
  line-height : normal;
  text-align : justify;
}

ul, ol {
  list-style-position: inside;
  font-size: 0.9em;
}
.timestamp, .authors {
  font-size : 0.7em;
  line-height: normal;
  font-style : italic;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.island > header > h1 {
  font-size : 1em;
  text-align : left;
  margin-left: 10px;
  margin-right: 10px;
}
.news > h1 {
  font-size : 1.5em;
}
article > a {
  margin-right : 1em;
}
article > h2 {
  font-size : 1.2em;
}
.island {
width: 24%;
float: left;
overflow: hidden;
height: 96px;
margin: 0.5%;
padding: 0;
}
.island > img {
  margin-right: 1em;
}
h1 {
  text-align : left;
}
.title > h1 {
  color : #cd2626;
  font-family : Garamond, serif;
  font-size : 250%;
}

.title > img {
  margin-right: 1em;
}
table {
  text-align: center;
}
.rows-40 {
  height: 40em;
}
.hidden {
  display: none;
}
.pink {
  box-shadow: 0 0 10px rgba(204,0,0,0.5);
}
#first_image_attachment {
  text-align: center;
}
.content {
  width: 100%;
}
.th {
  margin-right: 1%;
  margin-bottom: 1%;
}
.pdf-thumb {
width: 49%;
float: left;
overflow: hidden;
height: 32px;
margin: 0.5%;
padding: 0;
}